name: Build
on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install Hadolint
      run: |
        curl -sSL https://github.com/hadolint/hadolint/releases/latest/download/hadolint-Linux-x86_64 -o /usr/local/bin/hadolint
        chmod +x /usr/local/bin/hadolint
    - name: Lint Dockerfile
      run: hadolint Dockerfile
    - name: Test Docker build
      run: |
        TAGGED_VERSION=$(<version.txt)
        docker buildx build --pull --platform linux/amd64 --build-arg VERSION="$TAGGED_VERSION" -t test-image .